Repository uBizzy/koseven: changes, and which Codecov flags are due for each by the changed paths.
All: application, modules, system

Add token in the correct section
  .github/workflows/test.yml
Due: none

Make codecov token availaible everywhere
  .github/workflows/test.yml
Due: none

fix and change to system
  .github/workflows/test.yml
Due: none

Update README.md
  README.md
Due: none

catch json error, add support for suspressed response codes, pass body directly instead of variable in HTML formatter, add documentation
  system/classes/KO7/Controller/REST.php
  system/classes/KO7/REST/Format/HTML.php
  system/guide/ko7/mvc/controllers.md
Due: system

remove invalid comment
  system/classes/KO7/Controller/REST.php
Due: system

Fix casting as string
  system/classes/KO7/Response.php
Due: system

Use headers function
  system/classes/KO7/Request.php
Due: system

change to new name
  system/classes/KO7/Request.php
Due: system

switch to iterable
  system/classes/KO7/REST/Format/XML.php
Due: system

Change path construction in HTML formatter
  system/classes/KO7/REST/Format/HTML.php
Due: system

Update Reader.php
  system/classes/KO7/Config/File/Reader.php
Due: system

Remove comment, mainly to retrigger unittests and see why they fail
  system/classes/KO7/REST/Format/XML.php
Due: system

PhpUnit enable backing up globals
  phpunit.xml
Due: none

Fix unittests,they do not seem to work on GitHub
  modules/cache/tests/phpunit.xml
  phpunit.xml
Due: modules

Remove User Agent from the cookies class
  CHANGELOG.md
  system/classes/KO7/Cookie.php
Due: system

Remove ua change tests from CookieTest.php
  system/tests/ko7/CookieTest.php
Due: system

Move array_key exists to isset in Arr.php
  system/classes/KO7/Arr.php
Due: system

Add Validation rules from @WinterSilence (Thanks)
  system/classes/KO7/Valid.php
Due: system

Update docs
  system/README.md
  system/guide/ko7/security/cookies.md
Due: system

Update ValidTest.php
  system/tests/ko7/ValidTest.php
Due: system

Fix bug in UTF8::clean()
  system/classes/KO7/UTF8.php
Due: system

Update UTF8.php
  system/classes/KO7/UTF8.php
Due: system

Update ORM.php
  modules/orm/classes/KO7/ORM.php
Due: modules

Update View.php
  system/classes/KO7/View.php
Due: system

Update bootstrap.php
  application/bootstrap.php
Due: application

Bugfix: KO7_Config_File_Reader #409
  system/classes/KO7/Config/File/Reader.php
Due: system

Update Cache.php
  modules/cache/classes/KO7/Cache.php
Due: modules

Update Route.php
  system/classes/KO7/Route.php
Due: system

Create REST.php
  system/classes/KO7/Controller/REST.php
Due: system

Update Exception.php
  system/classes/KO7/HTTP/Exception.php
Due: system

Path conditions:
  application: any of: application/
  modules: any of: modules/
  system: any of: system/
